.main {
	text-align:	center;	
}

.input_container {
	width:100%;
	text-align: 	center;
}

.board {
	background-color: #808080;
	white-space: nowrap;

}
.board-container {
	background-color: red;
	border: 15px solid red;
}

.cell_alive {
	background-color: black;
	color:black;
	border: 1px solid #808080;
	cursor: pointer;
	margin: 0px 1px;
	outline:none;
}

.cell_alive:hover {
	border: 1px solid red;
}

.cell_dead {
	background-color: white;
	color:white;
	cursor: pointer;
	border: 1px solid #808080;
	margin: 0px 1px;
	outline:none;
}

.cell_dead:hover {
	border: 1px solid red;
}
